.watermark {
    background: url(https://i.ibb.co/yWhwyvN/diamond-logo-watermark.png); 
    background-size: 100px;
  background-repeat: repeat;
  /* background-color: white; */
  /* z-index: 1000; */
}