html, body {
    margin:0px;
    padding:0px;
    height: 100vh;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main {
    padding: 1rem;
    background:#4A90E2;
}
.side {
    background: lightgray;
    overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
  }
textarea{
    width: 100%;
    margin: 50px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;
  }
.PANEL {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 10rem 0px 10rem 0px;
    background: lightblue;
  }
  
  .NORMAL {width: 90%;}
  .FULL {width: 90%;}
  .LEFT {width: 50%;}
  .RIGHT {width: 50%; align-self: flex-end;}
  .FOCUS {width: 100%;}
  .END {display: none;}
  .CENTER {width: 80%;}
  
.action {
    hyphens: auto;
    background-color: lightpink;
}

.nameAndBalloon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    background: orange;
  }
.name {
    color: black;
    hyphens: auto;
    background-color: lightgoldenrodyellow;
    text-transform: uppercase;
  }
.balloon {
    flex-direction: column;
    width: 40%;
    padding: 20px;
    border-radius: 50%;
    border: 2px dashed black;
    background: white;
    hyphens: auto;
    text-align: center;
}

  
  
  /* .nameAndBalloon:nth-child(even) {
    align-self: flex-start;
  } */
  .nameAndBalloon:nth-child(odd) {
    align-self: flex-end;
  }

  /* .balloon:nth-child(even) {
    align-self: flex-start;
  } */
  .balloon:nth-child(odd) {
    align-self: flex-end;
  }