:root {
  --background: white;
  --blue-color: #3E8CEC;


  --main-width: 50vw;
  --left-side-width: 50vw;

  --text-area: 40vw;
  --webtoon-width: 50vh;

  --padding-top-bottom: 20vh;
  --padding-top-bottom-panel: 20vh;
}
html, body {
  margin:0px;
  padding:0px;
  font-size: 1.19rem;
  background: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-areas: 
    "  . webtoon . "
    ;
    grid-template-columns: var(--main-width) var(--webtoon-width) auto;
    grid-gap: 10vw;
}
.gridToggle {
    grid-template-columns: auto var(--webtoon-width) auto;
}
.main, .side {
  position: absolute;
  position: fixed;
  z-index: 1000;
  width: var(--main-width);
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-template-areas: 
  "buttons textarea ."
  ;
  justify-content: center;
  align-items: center;
    height: 100vh;
    background: var(--blue-color);
    -webkit-box-shadow: -3px -2px 17px 6px rgba(0,0,0,0.24); 
box-shadow: -3px -2px 17px 6px rgba(0,0,0,0.34);
}
.active {
  left: calc(var(--main-width) * -1);
}
.toggle-btn {
  position: absolute;
  z-index: -1;
  margin: 0;
  width: 1vw;
  left: calc(var(--main-width) - 5vh);
  top: -3vh;
  /* height: 0.5vh; */
  border-radius: 40%;
  padding: 5vh;
background: var(--blue-color);
  cursor: pointer;
}


textarea{
  grid-area: textarea;
  /* width: var(--text-area); */
  font-size: 1rem;
    height:85vh;
    align-self: center;
    margin-right: 1rem;
    margin-right: 1rem;
    padding: 10px;
    border-radius: 6px;
    /* background: transparent; */
    /* color: rgba(255, 255, 255, 0.699); */
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: black;
    background: white;
}

.buttons {
  grid-area: buttons;
  display: grid;
  height: 100vh;
  padding: 0.5rem;
  align-content: space-between;
}

p, #count {color: white;}
p.button.old-version:hover {
  cursor: pointer;
  align-self: end;
}
a {
  color: white;
}
a:visited {
  color: white;
}
button {
    background: none;
    color: var(--background);
    font-size: 1rem;
    border: 3px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 0.8rem;
    font-weight: 600;
  }
  button:hover {
    /* color: white; */
    color: rgba(255, 255, 255, 0.123);
    
    cursor: pointer;
    border: 3px solid white;
    border-color: rgba(255, 255, 255, 0.123);

}
.webtoonImage {
  grid-area: webtoon;
    -webkit-box-shadow: -3px -2px 17px 6px rgba(0,0,0,0.24); 
    background: white;
    padding-top: var(--padding-top-bottom);
    padding-bottom: var(--padding-top-bottom);
  }
  
  .PANEL {
    display: grid;
    padding-top: var(--padding-top-bottom-panel);
    padding-bottom: var(--padding-top-bottom-panel);
    /* font-size: 1.3em; */
  }
  
  .action {
    grid-row: 2/3;
    min-height : 30vh;
    margin: 0 10px;
    border: 2px solid black;
    font-size: 1rem;
    line-height: 0.9rem;
    hyphens: auto;
    background: white;
    word-wrap: break-word;
    position: relative;
  }
  .action-img {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
  }
  .action-text {
  position: absolute;
  color: black;
filter: drop-shadow(1px 0px 0px white) 
drop-shadow(-1px 0px 0px white)
drop-shadow(0px 1px 0px white) ;
  z-index: 1000;
}
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.mini {
    border: 2px solid black;
    /* min-width: 50%; */
    /* min-height: 100px; */
    background: white;
    /* background: lightgreen; */
  }
  .mini + .balloon {
    margin-top: -30px;
  }

.nameAndBalloon {
display:grid;
z-index: 100;
margin: 0.4rem ;
width: 70%;
/* background: orange; */
}
.name {
text-transform: uppercase;
font-size: 1.2rem;
filter: drop-shadow(1px 0px 0px white) 
drop-shadow(-1px 0px 0px white)
drop-shadow(0px 1px 0px white) 
drop-shadow(0px -1px 0px white)
drop-shadow(1px 1px 0px white);
margin: 0px;padding: 0px;
/* background-color: grey; */
}

.balloon {
      font-family: 'CC Wild Words';
      font-weight: normal;
      font-style: normal;
  font-size: 0.8rem;
    /* line-height: 0.9; */
    padding: 2rem 2rem;
    border-radius: 50%;
    hyphens: auto;
    text-align: center;
    background: white;
/* background: greenyellow; */
}
.balloon + .balloon{
    margin-top: -2rem;
}


/* balloon and ballon types */

.whisper .balloon {
  /* font-style: italic; */
  border: 0.2rem dashed black;
}
.cute .balloon {
  border: 4px dotted black;
}
.narrate .balloon, .narrator .balloon{
  font-style: italic;
  border: none;
  padding: 1.7rem;
  border-radius: 0;
}
.inner .balloon{
  font-style: italic;
  border-radius: 0;
}
.think .balloon {
  clip-path: polygon(2% 34%, 1% 20%, 8% 17%, 14% 18%, 14% 10%, 19% 2%, 28% 5%, 38% 1%, 44% 4%, 46% 6%, 50% 8%, 54% 3%, 59% 2%, 62% 8%, 68% 7%, 74% 3%, 77% 6%, 77% 8%, 80% 12%, 83% 12%, 84% 11%, 88% 7%, 96% 12%, 96% 18%, 98% 23%, 98% 26%, 97% 30%, 97% 39%, 98% 46%, 95% 48%, 93% 53%, 94% 56%, 96% 59%, 97% 66%, 94% 69%, 90% 74%, 92% 78%, 94% 84%, 93% 89%, 91% 95%, 88% 95%, 81% 96%, 76% 97%, 73% 100%, 67% 97%, 61% 94%, 56% 95%, 53% 97%, 46% 99%, 43% 94%, 41% 94%, 35% 95%, 30% 97%, 23% 94%, 20% 90%, 15% 89%, 13% 93%, 9% 95%, 4% 90%, 5% 89%, 6% 79%, 2% 78%, 2% 75%, 2% 68%, 3% 66%, 5% 63%, 6% 61%, 3% 52%, 1% 49%, 2% 44%, 4% 42%, 4% 36%, 3% 34%, 1% 35%, 0% 35%, 1% 28%, 2% 27%, 2% 25%, 2% 25%, 3% 25%, 3% 25%);
}
.double .balloon {
  /* font-family: "Neucha"; */
  border: 5px double black;
}
.dark .balloon {
  color: white;
  background-color: black;
}
.phone .balloon {
  /* border: 0.3rem double black; */
  border-radius: 0;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.squarePen .balloon {
  font-family: "Coming Soon";
    border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.scared .balloon{
  /* font-family: "Chilanka"; */
   clip-path: polygon(10% 7%, 25% 13%, 39% 7%, 56% 9%, 72% 15%, 86% 14%, 93% 29%, 96% 44%, 95% 60%, 100% 71%, 94% 87%, 95% 94%, 92% 100%, 70% 100%, 51% 91%, 41% 98%, 17% 98%, 16% 93%, 9% 84%, 1% 74%, 1% 62%, 0% 51%, 5% 35%, 2% 28%, 1% 20%);
}
.yell .balloon{
  /* font-family: "Bangers"; */
    border-radius: 0;
    clip-path: polygon(8% 6%, 24% 19%, 28% 1%, 36% 16%, 45% 0%, 46% 15%, 64% 4%, 66% 18%, 84% 5%, 81% 26%, 100% 19%, 89% 37%, 97% 45%, 100% 49%, 88% 62%, 100% 83%, 81% 81%, 87% 100%, 68% 86%, 64% 100%, 47% 84%, 39% 98%, 31% 83%, 15% 98%, 15% 78%, 1% 88%, 10% 66%, 1% 67%, 11% 54%, 1% 43%, 10% 34%, 2% 18%, 17% 23%);
}
.weird .balloon {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.sound {
  font-family: "Banger";
}

.container {
  display: grid;
  filter: drop-shadow(1px 0px 0px black) 
    drop-shadow(-1px 0px 0px black)
    drop-shadow(0px 1px 0px black) 
    drop-shadow(0px -1px 0px black)
    drop-shadow(1px 1px 0px black);
}

.container.whisper, .container.cute {
    filter : none;
}
.container.dark {
  
  filter: drop-shadow(1px 0px 0px white) 
  drop-shadow(-1px 0px 0px white)
    drop-shadow(0px 1px 0px white) 
    drop-shadow(0px -1px 0px white)
    drop-shadow(1px 1px 0px white);
}
/*altenrative balloon */
.nameAndBalloon:nth-child(odd) {
justify-self: end;
}
.balloon:nth-child(odd) {
justify-self: start;
}
.balloon:nth-child(even) {
justify-self: end;
}
.mini:nth-child(odd) {
  justify-self: end;
}

.FULL {height: 80vh;}
.FULL.FULL {height: 80vh; margin: 0; border-left: none; border-right: none;}
.LEFT {width: 50%;}
.RIGHT {width: 50%;  margin-left: auto;} /* margin-left: auto;*/
.FOCUS {width: 100%; min-height: 20vh; margin: 0; border-left: 0; border-right: 0;}
.CENTER {width: 50%; justify-self: center;}
.NONE {margin: none; border: none;}
.SKEW {
    margin: -1px;
    border-left: none; border-right: none;
    -ms-transform: matrix(1, -0.4, 0, 1, 1, 0); /* It is is used for internet explorer 9 */
    -webkit-transform: matrix(1, -0.4, 0, 1, 1, 0); /* It is is used for Safari */
    transform: matrix(1, -0.4, 0, 1, 1, 0); /* This is standard syntax */
    }
    .SKEW.DOWN {
    margin: 0px;
    border-left: none; border-right: none;
    transform:matrix(1.00,0.30,0.00,1.00,0,0);
    -ms-transform:matrix(1.00,0.30,0.00,1.00,0,0);
    -webkit-transform:matrix(1.00,0.30,0.00,1.00,0,0);
  }
.SKEW.HARD {
  margin: 0px;
  border-left: none; border-right: none;
  transform:matrix(1.00,1.30,0.00,1.00,0,0);
-ms-transform:matrix(1.00,1.30,0.00,1.00,0,0);
-webkit-transform:matrix(1.00,1.30,0.00,1.00,0,0);
}
    .BACKFLASH {
      /* width: 30vw; */
      padding: 10vh 0;
      background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(252,176,69,0) 100%);
    }




  .selected {
    color: white;	
    background-color:var(--blue-color);
  }