html, body {
margin:0px;
padding:0px;
background: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: auto 40vw auto 50vh auto;
    grid-template-rows: 1fr;
    justify-content: center;
}

.main {
    position: fixed;
    padding: 1vh;
    width: 40vw;
    height: 100vh;
    margin-left: 5%;
    /* background:#4A90E2; */
    justify-content: inherit;
}
.downloadImageDesktop {
    grid-column-start: 1;
}
textarea{
    grid-column-start: 2;
    font-size: 17px;
    width: 80%;
    height:85vh;
    /* margin-left: 10%; */
    padding: 10px;
    border-radius: 6px;
    background: transparent;
    color: rgba(255, 255, 255, 0.699);
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


button {
    grid-column-start: 1;
    grid-column-end: 2; 
    background: none;
    color: rgba(255, 255, 255, 0.123);
    border: 3px solid rgba(255, 255, 255, 0.055);
    padding: 1rem 1rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
}
button:hover {
    color: white;
    border: 3px solid white;

}

.webtoonImage {
    grid-column: 4/5;
    background: white;
    /* background: lightblue; */
}



.PANEL {
    display: grid;
    min-height: 100vh;
    margin: 40vh 0;
    font-size: 1.3em;
/* background: peru; */
}

.action {
    grid-row: 2/3;
    min-height : 30vh;
    margin: 0 10px;
    border: 2px solid black;
hyphens: auto;
background: white;
/* background-color: lightpink; */
}
.mini {
    border: 2px solid black;
    /* min-width: 50%; */
    /* min-height: 100px; */
    background: white;
    /* background: lightgreen; */
  }
  .mini + .balloon {
    margin-top: -30px;
  }

.nameAndBalloon {
display:grid;
z-index: 100;
margin: 1vh;
width: 70%;
/* background: orange; */
}
.name {
text-transform: uppercase;
filter: drop-shadow(1px 0px 0px white) 
drop-shadow(-1px 0px 0px white)
drop-shadow(0px 1px 0px white) 
drop-shadow(0px -1px 0px white)
drop-shadow(1px 1px 0px white);
margin: 0px;padding: 0px;
/* background-color: grey; */
}

.balloon + .balloon{
    margin-top: -15px;
}
/* balloon and ballon types */
.balloon {
    max-width: 50%;
    padding: 30px 20px;
    border-radius: 50%;
    background: white;
    hyphens: auto;
    text-align: center;
    line-height: 0.9;
/* background: greenyellow; */
}

.whisper .balloon {
  border: 2px dashed black;
}
.dotted .balloon {
  border: 4px dotted black;
}
.narrate .balloon {
  border-radius: 1px;
}
.thought .balloon {
  border-radius: 20px;
}
.double .balloon {
  border: 5px double black;
}
.squarePen .balloon {
    border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.scared .balloon{
    clip-path: polygon(10% 7%, 25% 13%, 39% 7%, 56% 9%, 72% 15%, 86% 14%, 93% 29%, 96% 44%, 95% 60%, 100% 71%, 94% 87%, 95% 94%, 92% 100%, 70% 100%, 51% 91%, 41% 98%, 17% 98%, 16% 93%, 9% 84%, 1% 74%, 1% 62%, 0% 51%, 5% 35%, 2% 28%, 1% 20%);
}
.yell .balloon{
    border-radius: 0;
    clip-path: polygon(8% 6%, 24% 19%, 28% 1%, 36% 16%, 45% 0%, 46% 15%, 64% 4%, 66% 18%, 84% 5%, 81% 26%, 100% 19%, 89% 37%, 97% 45%, 100% 49%, 88% 62%, 100% 83%, 81% 81%, 87% 100%, 68% 86%, 64% 100%, 47% 84%, 39% 98%, 31% 83%, 15% 98%, 15% 78%, 1% 88%, 10% 66%, 1% 67%, 11% 54%, 1% 43%, 10% 34%, 2% 18%, 17% 23%);
}
.narrate .balloon {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.container {
  /* width: 100%; */
  filter: drop-shadow(1px 0px 0px black) 
    drop-shadow(-1px 0px 0px black)
    drop-shadow(0px 1px 0px black) 
    drop-shadow(0px -1px 0px black)
    drop-shadow(1px 1px 0px black);
    /* background: turquoise; */
}

/*altenrative balloon */
.nameAndBalloon:nth-child(odd) {
justify-self: end;
}
.balloon:nth-child(odd) {
justify-self: end;
}
.mini:nth-child(odd) {
justify-self: end;
}

.FULL {width: 100%; margin: 0; border-left: 0; border-right: 0;}
.LEFT {width: 50%;}
.RIGHT {width: 50%;  margin-left: auto;} /* margin-left: auto;*/
.FOCUS {width: 100%; min-height: 20vh; margin: 0; border-left: 0; border-right: 0;}
.CENTER {width: 80%;}
.NONE {width: 100%; border: 0;}
.SKEW {
    margin: -2px;
    -ms-transform: matrix(1, -0.4, 0, 1, 1, 0); /* It is is used for internet explorer 9 */
    -webkit-transform: matrix(1, -0.4, 0, 1, 1, 0); /* It is is used for Safari */
    transform: matrix(1, -0.4, 0, 1, 1, 0); /* This is standard syntax */
    }