html, body {
margin:0px;
padding:0px;
background: black;
}
.grid {
    display: grid;
    grid-template-columns: auto 40vw auto 56vh auto;
    grid-template-rows: 1fr;
    justify-content: center;
}

.main {
    position: fixed;
    width: 40vw;
    height: 100vh;
    /* background: rgb(43, 43, 43); */
    /* background:#4A90E2; */
    justify-content: inherit;
}

.sidebar {
    grid-column-start: 1 /2 ;
    grid-row-start: 1;
    align-self: flex-end;
}
textarea{
    grid-column-start: 2;
    font-size: 17px;
    width: 90%;
    height: 100vh;
    margin-left: 10%;
    padding: 10px;
    border-radius: 6px;
    background: transparent;
    color: rgba(255, 255, 255, 0.699);
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 0;
}
.webtoonImage {
    grid-column-start: 4;
    background: white;
    /* background: lightgray; */
}
/* #textInput textarea::-webkit-scrollbar {
    width: 4px;
  }
  
#textInput textarae::-webkit-scrollbar-button {
    display: none;
  }
  
  #textInput textarea::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  #textInput textarea::-webkit-scrollbar-thumb {
    background: #d2d2d2; 
  } */

button {
    background: none;
    color: rgba(255, 255, 255, 0.281);
    border: 3px solid rgba(255, 255, 255, 0.383);
    padding: 1rem 1rem;
    /* margin: 0.5rem; */
    border-radius: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
}
button:hover {
    /* color: #458efe; */
    color: white;
    border: 3px solid white;

}

.PANEL {
font-size: 20px;
border: 2px solid black;
display: flex;
min-height: 300px;
height: auto;
flex-direction: column;
padding: 1rem;
margin: 10rem 0 10rem 0;
/* background: white; */
align-content: center;
/* background: lightblue; */
}

.NORMAL {width: 90%;}
.FULL {width: 90%; margin: 0;}
.LEFT {width: 50%;}
.RIGHT {width: 50%;  float: right;} /* margin-left: auto;*/
.FOCUS {width: 100%;}
.END {display: none;}
.CENTER {width: 80%;}
.NONE {border: 0;}

.action {
hyphens: auto;
color: rgba(0, 0, 0, 0.712);
/* background: white; */
/* background-color: lightpink; */
}

.nameAndBalloon {
display: flex;
flex-direction: column;
padding: 10px;
width: 50%;
background: white;
/* background: orange; */
}
.name {
    color: black;
    hyphens: auto;
background: white;
/* background-color: lightgoldenrodyellow; */
    text-transform: uppercase;
}
.balloon {
    flex-direction: column;
    width: 60%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 50%;
    background: white;
    hyphens: auto;
    text-align: center;
}
.whisper {
border: 2px dashed black;
}


/* .nameAndBalloon:nth-child(even) {
align-self: flex-start;
} */
.nameAndBalloon:nth-child(odd) {
align-self: flex-end;
}

/* .balloon:nth-child(even) {
align-self: flex-start;
} */
.balloon:nth-child(odd) {
align-self: flex-end;
}