h1,h6 {
    text-align: center;
    font-family:'Times New Roman', Times, serif
    /* margin-left: 29px; */
}
* {
    box-sizing: border-box;
}
.child {
    padding-left: 9px;

}
.parent {
    display: flex;
}
#txtInput {
    word-wrap:break-word;
    font-family: monospace
}
#txtOutput {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#copyEach {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#myDiv {
    margin: 10px;
}